---
import "@/styles/global.css";
import MainLayout from "@/layouts/main.astro";
import { PkgNum } from "@/components/PkgNum"
import { AuroraText } from "@/components/ui/aurora-text";
import { Button } from "@/components/ui/button";
import { Navbar } from "@/components/Navbar";
import { NumberTicker } from "@/components/ui/number-ticker";
import {
    Card,
    CardAction,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { InstallDialog } from "@/components/InstallDialog";
import { ButtonLink } from "@/components/ButtonLink";
import { makeGetStaticPaths } from "astro-i18nya";
import i18nya, { makeT } from "@/i18n";

export const getStaticPaths = makeGetStaticPaths(i18nya);
const t = makeT(Astro.params.lang);
---

<MainLayout title="Terra" lang={Astro.params.lang}>
    <Navbar lang={Astro.params.lang} client:load />
    <div class="flex flex-col gap-6 items-center p-16">
        <h1
            class="mx-auto text-center max-w-4xl text-4xl md:text-5xl lg:text-7xl font-bold"
        >
            <!-- Do not use <Trans/> here, which requires experimentalReactChildren, which is incompatible with <NumberTicker/>. -->
            {t("h1.the")}<AuroraText className="-z-10" ><NumberTicker value={2000} startValue={1000} client:load />+</AuroraText>{t("h1")}
        </h1>
        <p
            class="mx-auto max-w-4xl text-center md:text-xl text-muted-foreground"
        >
            {t("desc")}
        </p>
        <div class="grid grid-flow-col auto-cols-fr mt-4 gap-2">
            <InstallDialog lang={Astro.params.lang} client:load />
            <ButtonLink
                href="https://docs.terrapkg.com/contributing/getting-started"
                rel="noopener"
                target="_blank"
                className="h-full">{t("contribute")}</ButtonLink
            >
        </div>
    </div>

    <div class="grid gap-6 lg:grid-cols-3 container mx-auto p-6">
        <Card>
            <CardHeader>
                <CardTitle>{t("modern")}</CardTitle>
                <CardDescription>{t("modern_desc")}</CardDescription>
            </CardHeader>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle>{t("current")}</CardTitle>
                <CardDescription>{t("current_desc")}</CardDescription>
            </CardHeader>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle>{t("quality")}</CardTitle>
                <CardDescription>{t("quality_desc")}</CardDescription>
            </CardHeader>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle>{t("transparent")}</CardTitle>
                <CardDescription>{t("transparent_desc")}</CardDescription>
            </CardHeader>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle>{t("ease_of_use")}</CardTitle>
                <CardDescription>{t("ease_of_use_desc")}</CardDescription>
            </CardHeader>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle>{t("secure")}</CardTitle>
                <CardDescription>{t("secure_desc")}</CardDescription>
            </CardHeader>
        </Card>
    </div>
</MainLayout>
