---
import "../styles/global.css";
import MainLayout from "@/layouts/main.astro";
import { AuroraText } from "@/components/ui/aurora-text";
import { Button } from "@/components/ui/button";
import { Navbar } from "@/components/Navbar";
import { NumberTicker } from "@/components/ui/number-ticker";
import {
    Card,
    CardAction,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { InstallDialog } from "@/components/InstallDialog";
import { ButtonLink } from "@/components/ButtonLink";
---

<MainLayout title="Terra">
    <Navbar client:load />
    <div class="flex flex-col gap-6 items-center p-16">
        <h1
            class="mx-auto text-center max-w-4xl text-4xl md:text-5xl lg:text-7xl font-bold"
        >
            The <AuroraText className="-z-10"
                ><NumberTicker
                    value={3000}
                    startValue={1000}
                    client:load
                />+</AuroraText
            > packages Fedora doesn't ship.
        </h1>
        <p
            class="mx-auto max-w-4xl text-center md:text-xl text-muted-foreground"
        >
            The missing community repository for Fedora that's easy to use and
            contribute to.
        </p>
        <div class="grid grid-flow-col auto-cols-fr mt-4 gap-2">
            <InstallDialog client:only />
            <ButtonLink
                href="https://developer.fyralabs.com/terra/contributing"
                rel="noopener"
                target="_blank"
                className="h-full">Contribute</ButtonLink
            >
        </div>
    </div>
</MainLayout>

<div class="grid gap-6 lg:grid-cols-3 container mx-auto p-6">
    <Card>
        <CardHeader>
            <CardTitle>Modern</CardTitle>
            <CardDescription
                >Terra is built on the Andaman toolchain, our modern, Rust-based
                meta buildsystem for packages. This simplifies the process of
                maintenance at scale.
            </CardDescription>
        </CardHeader>
    </Card>
    <Card>
        <CardHeader>
            <CardTitle>Current</CardTitle>
            <CardDescription
                >Tired of waiting for updates? Us too. Packages are
                automatically updated as soon as released upstream. And, for
                those living on the edge, we offer nightly packages as well.
            </CardDescription>
        </CardHeader>
    </Card>
    <Card>
        <CardHeader>
            <CardTitle>Quality</CardTitle>
            <CardDescription
                >Package submissions are carefully vetted and assessed against
                our guidelines. This ensures that a high quality of packages is
                maintained.
            </CardDescription>
        </CardHeader>
    </Card>
    <Card>
        <CardHeader>
            <CardTitle>Transparent</CardTitle>
            <CardDescription
                >Goodbye to external buildsystems and scattered repos! Package
                sources are available in a monorepo, and build jobs are publicly
                viewable on GitHub Actions. This makes it easy to debug issues.
            </CardDescription>
        </CardHeader>
    </Card>
    <Card>
        <CardHeader>
            <CardTitle>Ease of Use</CardTitle>
            <CardDescription
                >Terra is as easy to use as any other repository. For
                developers, Terra is a breeze to work with. We work directly
                with other projects to meet their needs and make Terra as
                seamless as possible.
            </CardDescription>
        </CardHeader>
    </Card>
    <Card>
        <CardHeader>
            <CardTitle>Secure</CardTitle>
            <CardDescription
                >Packages are built in a secure environment maintained by the
                Fyra Labs team. Through our modern tooling, transparent
                infrastructure, and careful review process, we can prevent
                issues from occurring.
            </CardDescription>
        </CardHeader>
    </Card>
</div>
